/****************************************************************************************
  * Project Name : i2HDMS
  * File Name    : proformaCSVUtilCmp
  * Description  : 
  * Copyright    : Copyright © I2max. All Rights Reserved. 2022 
  * Author       : Kyejin Cheong
  * Created Date : 2022-11-14
****************************************************************************************/

.fixedHeader {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    z-index: 2
}

.summary {
    font-weight: bold;
    font-size: 15px;
}

.success {
    color:blue;
}

.error {
    color:red;
}

.csvTable {
    width: 100%;
    max-width: 50vw;
    height: 45vh;
}